<div class="w-auto">
  <div class="input-group mb-2 mr-sm-2 w-100">
    <input type="text" class="form-control" id="search"  style="font-size: 18px;border-left: none !important;outline: none;" placeholder="مثال:- لابتوب ديل, جديد, محل علي, اسود قسط...............الخ" >
    <select name="" id="types" style="width: auto;background: #fff;color: black;text-align: center !important;">
      <option value="cl">ملابس</option>
      <option value="ca">سيارات</option>
      <option value="sh">احذيه</option>
      <option selected value="el">الكترونيات</option>
      <option value="co">كمبيوترات</option>
      <option value="mo">موبايلات</option>
      <option value="fo">اطعمه</option>
      <option value="bu">عطور</option>
      <option value="to">العاب</option>
      <option value="ac">اكسسورات</option>
      <option  value="bo">كتب</option>
    </select>

  </div>
  <div id="found" >

  </div>
</div>
